@use '../util';

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--very-light-gray);

  @include util.breakpoint-down(large) {
    height: 150vh;
  }
}
